<h1> <%= "#{t('editing')} #{t('folder.folder')}" %> Editing Document</h1>

<%= render 'move_form', document: @document %>

<%= link_to t('show'), @document %> |
<%= link_to t('back'), documents_path %>
